@using Pladeco.Model.Enum
@model Pladeco.Web.Models.PlanTaskViewModel

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="PlanID" />
    <!-- Page header -->
    <div class="page-header">
        <br />
        <div class="breadcrumb-line breadcrumb-line-component">
            <ul class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Projects"><i class="icon-folder"></i>Proyectos</a></li>
                <li><a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Plan.Project.ID">@Model.Plan.Project.Name</a></li>
                <li><a asp-action="Details" asp-controller="Plans" asp-route-id="@Model.Plan.ID">@Model.Plan.Name</a></li>
                <li class="active">@Model.Name</li>
            </ul>
        </div>
        <br />
        <div class="page-header-content">
            <div class="text-left">
                <button type="submit" class="btn bg-green-700">Guardar<i class="icon-arrow-right14 position-right"></i></button>
                <a asp-action="Details" asp-controller="Plans" asp-route-id="@Model.PlanID" class="btn btn-default" role="button">Descartar</a>
            </div>
            <div class="heading-elements">

            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->

    <div class="content">
        <!-- Vertical form options -->
        <div class="row">

            <div class="col-md-12">
                <!-- Basic layout-->
                <p>
                    <div class="text-left">
                    </div>
                </p>
                <div class="panel panel-flat">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <fieldset>
                                        <legend class="text-semibold"><i class="icon-folder position-left"></i>Plan </legend>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-semibold">@Html.DisplayNameFor(model => model.Name)</label>
                                                <input value="@Html.DisplayFor(model => model.Name)" class="form-control" autofocus />
                                            </div>
                                            <div class="form-group">
                                                <label class="text-semibold">@Html.DisplayNameFor(model => model.Description)</label>
                                                <textarea asp-for="Description" rows="10" cols="5" class="form-control"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="form-group">
                                                <label asp-for="Priority"></label>
                                                <select asp-for="Priority" class="select" asp-items="Html.GetEnumSelectList<ePriority>()"></select>
                                                <span asp-validation-for="Priority" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="ResponsableID" class="text-semibold"></label>
                                                <select asp-for="ResponsableID" class="select" asp-items="Model.Users"></select>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>



                                <div class="col-md-3">
                                    <fieldset>
                                        <legend class="text-semibold"><i class="icon-database-time2"></i> Duración</legend>

                                        <div class="form-group">
                                            <label class="text-semibold">@Html.DisplayNameFor(model => model.StartDate)</label>
                                            <input value="@Html.DisplayFor(model => model.StartDate)" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="text-semibold">@Html.DisplayNameFor(model => model.EndDate)</label>
                                            <input value="@Html.DisplayFor(model => model.EndDate)" class="form-control" />
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- /basic layout -->
        </div>

    </div>
    <!-- /content area -->
</form>
<!-- /vertical form options -->
<!-- Theme JS files -->
<script src="~/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/js/custom/custom_select2.js"></script>
<script src="~/js/custom/custom_select2.js"></script>
<script src="~/js/custom/custom_checkradio.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
